form {
  display: flex;
  flex-direction: column;
  width: auto;
  font-size: 20px;

  label {
    margin: 5px 0px;
  }

  input:last-child {
    background-color: $lightgrey;
  }
}

.notification {
  font-size: 30px;
}
