.seasons {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px 0px;

  a {
    width: 40%;
    background-color: $lightgrey;
    padding: 10px 0px;
    box-shadow: 1px 1px #888888;
    margin: 3px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .activeLink {
    background-color: $emph !important;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}
