table {
  counter-reset: rowNumber;
  flex: 1;
  border-collapse: collapse;
  width: 100%;
}

.rank {
  counter-increment: rowNumber;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}
.rank::before {
  content: counter(rowNumber);
}

tbody > tr:nth-child(4n),
tbody > tr:nth-child(4n-1)   {
  background-color: $lightgrey;
}

th {
  font-weight: 400;
}

tr:nth-child(odd) > td {
  padding-top: 10px;
}
tr:nth-child(even) > td {
  padding-bottom: 10px;
}

.prizeCell > span {
  height: 80%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  i {
    margin-right: 10px;
  }
}

.chipsCell > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  span {
    border: 1px solid $emph;
    padding: 2px 4px;
    flex: 1;
    background-color: $emph;
    text-align: center;
  }
  span:not(:last-child) {
    border-right: 1px solid #b3b3b3;
  }
  .used_chip {
    background-color: inherit;
  }
}

.seasonPointsCell {
  text-align: center;
}
