@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400");

$lightgreen: #e7ffe7;
$lightgrey: #efefef;
$emph: #a4ff9e;

@import "admin";
@import "table";
@import "seasons";
* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 400;
  letter-spacing: 5px;
}
h1,
h2 {
  margin: 10px 0px;
  text-align: center;
}

.separator {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  body {
    align-items: center;
    main {
      width: 60%;
    }
  }
}
