@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400");
form {
  display: flex;
  flex-direction: column;
  width: auto;
  font-size: 20px;
}
form label {
  margin: 5px 0px;
}
form input:last-child {
  background-color: #efefef;
}

.notification {
  font-size: 30px;
}

table {
  counter-reset: rowNumber;
  flex: 1;
  border-collapse: collapse;
  width: 100%;
}

.rank {
  counter-increment: rowNumber;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
}

.rank::before {
  content: counter(rowNumber);
}

tbody > tr:nth-child(4n),
tbody > tr:nth-child(4n-1) {
  background-color: #efefef;
}

th {
  font-weight: 400;
}

tr:nth-child(odd) > td {
  padding-top: 10px;
}

tr:nth-child(even) > td {
  padding-bottom: 10px;
}

.prizeCell > span {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prizeCell > span i {
  margin-right: 10px;
}

.chipsCell > div {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.chipsCell > div span {
  border: 1px solid #a4ff9e;
  padding: 2px 4px;
  flex: 1;
  background-color: #a4ff9e;
  text-align: center;
}
.chipsCell > div span:not(:last-child) {
  border-right: 1px solid #b3b3b3;
}
.chipsCell > div .used_chip {
  background-color: inherit;
}

.seasonPointsCell {
  text-align: center;
}

.seasons {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px 0px;
}
.seasons a {
  width: 40%;
  background-color: #efefef;
  padding: 10px 0px;
  box-shadow: 1px 1px #888888;
  margin: 3px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seasons .activeLink {
  background-color: #a4ff9e !important;
}

a:link,
a:visited,
a:hover,
a:active {
  color: black;
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 400;
  letter-spacing: 5px;
}

h1,
h2 {
  margin: 10px 0px;
  text-align: center;
}

.separator {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  body {
    align-items: center;
  }
  body main {
    width: 60%;
  }
}

/*# sourceMappingURL=main.css.map */
