<!DOCTYPE html>
<html>

<head>
    {%include "head.html"%}
</head>

<body>
    <main>
        <h1>Admin</h1>
        <form action="" method="post">
            {%for assoc in players%}
            <label>
                <input type="checkbox" name="playerid" value="{{assoc.player.id}}" {{ 'checked' if assoc.paid else '' }}>{{assoc.player.player_name}}</label>
            {%endfor%}
            <input type="submit" value="Send" />
        </form>
        {% if entry_posted%}
        <p class="notification">Entry updated</p>
        {%endif%}
    </main>
</body>

</html>