<!DOCTYPE html> {% set winners=selected_season.winners %}
<html>

<head>
    {%include "head.html"%}
</head>

<body>
    <main>
        <h1>
            {{data.league_name}} {{test}}
        </h1>
        <div class="separator"></div>
        <h2>{{selected_season.name}} {{selected_season.start}} - {{selected_season.end}}</h2>
        <div class="seasons">
            {% for (key, season) in seasons.items()%}
            <a href="{{key}}" class="{{'activeLink' if season.name == selected_season.name }}">
                {% if season.name==selected_season.name %}
                <strong>{{season.name}} </strong> {%else %}{{season.name}} {%endif%}
            </a>
            {% endfor %}
        </div>




        <table>

            <tbody>
                {% for player in data["players"]|sort(attribute="season_points", reverse=True) %}

                <tr>
                    <td class="rank" rowspan="2">{{index}}</td>
                    <td class="playerNameCell">

                        <strong>{{player.player_name}}</strong>

                    </td>
                    <td class="prizeCell">{% if selected_season.winners[loop.index-1]%}
                        <span>
                            <i class="material-icons">local_play</i> {{selected_season.winners[loop.index-1]}}</span> {%endif%}</td>
                    <td class="seasonPointsCell">
                        <strong>{{player.season_points}}p</strong>
                    </td>
                </tr>
                <tr>
                    <td class="teamNameCell">{{player.entry_name}}</td>
                    <td colspan="2" class="chipsCell">
                        <div>
                            {% for key, chip in player["used_chips"].items()%}
                            <span {%if chip.used_round %}class="used_chip" title="Brukt i runde {{chip.used_round}}" {%endif%}>{{chip.short_name}}</span>
                            {%endfor%}



                        </div>

                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>

</html>